<div class="sectionTop">
    <div class="row ">
        <div class="col-md-6 education ">
            <h4>Post Graduation</h4>
            <p>Specialization in Signal Processing</p>
            <p>APJ Abdul Kalam Technological University</p>
            <p>Class of 2019</p>


        </div>
        <div class="col-md-6 education ">
            <h4>Graduation</h4>
            <p>Electronics And Communication Engineering</p>
            <p>Kerala University</p>
            <p>Class of 2013</p>
        </div>
      </div>
</div>