
<div class="container">
	
	<div class="front side">
		<div class="content">
			<h1>Software Developer</h1>
			<p>Teknika Solutions | Nov 2014-July 2017
			</p>
		</div>
	</div>
	<div class="back side">
		<div class="content">
			<ul>
				<li>Developed Web application and Android Applications for in-house as well as for clients</li>
				<li>Dealt with Database design in SQL Server 2008</li>
				<li>Created custom mobile applications using native technologies </li>
				<li>Consistently met deadlines and requirements for all production works</li>
			</ul>

		</div>
	</div>

</div>
