<div class="contactSection">
    <div class="row">
        <div class="col">
            <h5>Get in touch</h5>
            <div class="emailDiv"> 
                
                <p class="email"><img src="assets/images/email.png" alt="email-img">parvathymohang@gmail.com</p>
            </div>
            <div class="linkedinDiv"> 
                
                
               <p> <a href="https://linkedin.com/in/parvathy-mohan-g"><img src="assets/images/linkedin.png" alt="linkedin-img">Linkedin  Profile</a></p>
            </div>
            <div class="resumeDiv"> 
                
                
                <p><a href="assets/files/ParvathyMohan_Resume.pdf"><img src="assets/images/cv.png" alt="linkedin-img">Resume</a></p>
            </div>
           

        </div>

    </div>
</div>
