<section id="title">

  <!-- Nav Bar -->
  <!-- <nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" href="">PM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Contact</a>
        </li>
      </ul>
    </div>
  </nav> -->
  <div class="row">
    <div class="col-xs-12 col-md-3 col1 ">

      <img class="profilepic " src="/assets/images/parvathy.jpg" alt="profile-img">
      <ul>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/experience" routerLinkActive="active">Experience</a></li>
        <li><a routerLink="/skills" routerLinkActive="active">Skiils</a></li>
        <li><a routerLink="/education" >Education</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </div>
    <!-- Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->
    <div class="col-xs-12 col-md-9 col2">
      <!-- <h1 id="intro" class="welcome">Hi</h1>
      <h2 id="intro2" class="welcomeh2">I'm a Software Developer</h2> -->
      <router-outlet></router-outlet>
    </div>
    
  </div>


  <!-- Title -->

  
  
</section>